



{% extends "partials/base.html" %}

{% block title %}SIVM partner{% endblock %}

{% block content %}

<!-- <section class="hero-section text-center">
    <div class="container">
        <h1>Nos partenaires</h1>
    </div>
</section> -->


<section class="description">
    <div class="container">

         <div class="flex-center">
            <h1>NOS PARTENAIRES</h1>
        </div>

        <p> 
            L’ACI du Fenouillèdes existe grâce au conventionnement de la DDETS (Direction Départementale de l’Emploi, du Travail et des Solidarités). Il est cofinancé par l’État et le Département, et l’Europe (à travers le FSE+ (Fond Social Européen))
            
            Ce soutien financier permet l’embauche en Contrat à Durée Déterminée d’Insertion de 4 à 24 mois des personnes en difficulté et éloignées de l’emploi. Notre territoire est classé en ZRR (Zone ruralités revitalisation). Malgré le manque de moyen et surtout de mobilité, nous essayons d’y amener un dynamisme et une entraide, avec la collaboration des entreprises locales qui permettent aux salariés de faire des PMSMP (période de mise en situation en milieu professionnel) selon leur projet professionnel.
            
            L’ASP travaille aussi avec les différents travailleurs sociaux comme France Travail, la CAF, Le Département, la MSA, la CPAM,  ….
        </p>
    </div>
</section>


<section class="logo-partner">
    <div class="container logo-grid">
        <img src="{{ url_for('static', filename='img/logos/pyrenees_orientales.png') }}" alt="logo partner">        
        <img src="{{ url_for('static', filename='img/logos/france_travail.png') }}" alt="logo partner">        
        <img src="{{ url_for('static', filename='img/logos/republique_francaise.png') }}" alt="logo partner">        
        <img src="{{ url_for('static', filename='img/logos/union_europeenne.png') }}" alt="logo partner">
    </div>
</section>

{% endblock %}