

{% extends "partials/base.html" %}

{% block title %}SIVM sivm{% endblock %}

{% block content %}

<section class="hero-section">
    <div class="container">
        <h1>Bienvenu a la partie de estefan</h1>
        <p>Ici le chantier avec les tracteurs etc...</p>
        <img src="{{ url_for('static', filename='img/tracteur_estefan.jpeg') }}" alt="Tracteur">
    </div>
</section>


<section class="descripcion">
    <div class="container">
        <h2>LES COMPÉTENCES VOIRIES ET DFCI</h2>
        <p>
            En lien étroit avec les équipes municipales, le SIVM du Fenouillèdes assure la réalisation de travaux d’aménagement et de remise en état des voiries communales ainsi que des chemins ruraux.
            Grâce à une entreprise privée sélectionnée dans le cadre d’un marché public à bons de commande conclu pour une durée de trois ans, il œuvre au maintien des infrastructures fonctionnelles et adaptées aux besoins des habitants. 
            Acteur engagé dans la prévention des risques, le SIVM joue un rôle clé dans la DFCI. Avec l’aide d’un maître d’œuvre suivant le PAFI (Plan d’Aménagement des Forêts contre l’Incendie), il gère les travaux de création et de mise aux normes des pistes DFCI. 
            Il accompagne les communes du territoire au quotidien en mutualisant des compétences essentielles. Les services techniques qualifiés possèdent une tractopelle et un tracteur équipé d’une épareuse et interviennent sur les Communes, selon un planning défini à l’avance, pour l’entretien et la sécurisation des chemins et des pistes DFCI, le débroussaillage et l’amélioration des accès …. Autant d’actions indispensables pour protéger les espaces naturels et renforcer la sécurité du territoire face aux incendies et aux intempéries.  
        </p>
    </div>
</section>


<section class="cards-section">
    <div class="container">
        <h2>Travaux</h2>
        <div class="cards-container">

            <div class="container">
                <div class="card">
                    <h3>saint paul de fenuillet</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>caudilles</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>fosse</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>maury</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>esquerde</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>
            
            <div class="container">
                <div class="card">
                    <h3>vira</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
