



<footer id="footer">
    <div class="container">
        <div class="container_left">
            <h3>
                message du sivm sdfasoidfjo
            </h3>

            <h4 class="h4_contact">Contact</h4>
            <address>
                Rue de la boite sivm<br>
                Saint Paul de Fenouillet 66220<br>
                <br>
                +telephone<br>
                <a href="mailto:email sivm">email sivm</a>
            </address>
        </div>

        <div class="container_right">
            <h4 class="h4_links">Links</h4>
            <nav>
                <a href="{{ url_for('home.home') }}">Accueil</a>
                <a href="{{ url_for('sivm.sivm') }}">Sivm</a>

            </nav>
        </div>

    </div>

    <small>
        Copyright C 2026 - 
        <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
    </small>

</footer>

