



<header>
    <div class="container-header">
        <div class="header-logo">
            <a href="{{ url_for('home.home') }}">
                <img src="{{ url_for('static', filename='img/logo_sivom.jpg')}}"
                    alt="logo sivom">
            </a>
        </div>
        
        
        <nav>
            <a href="{{ url_for('home.home') }}">Accueil</a>
            <a href="{{ url_for('sivm.sivm') }}">SIVM</a>
            <a href="{{ url_for('aci.aci') }}">ACI</a>
            <a href="{{ url_for('blog.blog') }}">Actualité</a>
            <a href="{{ url_for('contact.contact') }}">Contact</a>


        </nav>


        <div class="contact">
            <a href="{{ url_for('contact.contact') }}" class="btn">Contacte-nous</a>
        </div>
       
    </div>
</header>

   