

{% extends "partials/base.html" %}

{% block title %}SIVM aci{% endblock %}

{% block content %}

<section class="hero-section text-center">
    <div class="container">
        <img src="{{ url_for('static', filename='img/aci_hero.png') }}" alt="Tracteur">
    </div>
</section>


<section class="description">
    <div class="container">

        <div class="flex-center text-center flex-column">
            <h1>ACI</h1>
            <h2>ALLIER UTILITÉ SOCIALE ET DÉVELOPPEMENT LOCAL : 
                C’EST LE DOUBLE DÉFI RELEVÉ PAR L’ACI DU FENOUILLÈDES, QUI RÉINVESTIT L’HUMAIN AU CŒUR DE L’ÉCONOMIE DE PROXIMITÉ 
            </h2>
        </div>


        <p> Le chantier d’insertion, véritable outil d’accompagnement vers l’emploi, permet à des personnes éloignées du marché du travail de bénéficier d’un parcours professionnel, d’un encadrement technique et d’un soutien social, tout en participant à des actions utiles au territoire. Il s’adresse aux personnes au RSA, aux chômeurs de longue durée, aux jeunes de 18 à 25 ans, publics en grande difficulté suivis par le Conseil départemental (maisons sociales de proximité), France Travail et les missions locales des jeunes.
            
            Il s’appuie sur des valeurs de proximité, d’efficacité et de solidarité pour contribuer au dynamisme et à la qualité de vie des communes et de leurs habitants en les aidant à la réinsertion dans la vie sociale et professionnelle avec le concours de l’Accompagnante Socio-Professionnelle.  
        </p>

        
            <div class="container">
                <img src="{{ url_for('static', filename='img/aci2.png') }}" alt="Tracteur">
            </div>
        

        
        <p> Il participe à la remobilisation et la revalorisation des personnes.

            Missionnés par les Communes, huit salariés interviennent sous le contrôle de l’encadrant technique pour l’entretien des berges de rivière et des canaux d’arrosage, l’entretien de pistes DFCI, des espaces verts et naturels sur les 11 Communes adhérentes au SIVM avec des travaux de débroussaillage, d’élagage et d’abattage selon un planning défini à l’avance.
        </p>

        
            <div class="container">
                <img src="{{ url_for('static', filename='img/aci3.png') }}" alt="Tracteur">
            </div>


    </div>
</section>


<section class="cards-section">
    <div class="container">
        <h2>Travaux</h2>
        <div class="cards-container">

            <div class="container">
                <div class="card">
                    <h3>saint paul de fenuillet</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>caudilles</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>fosse</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>maury</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>esquerde</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>
            
            <div class="container">
                <div class="card">
                    <h3>vira</h3>
                    <p>reparer la route et la riviere</p>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}