


{% extends "partials/base.html" %}

{% block title %}SIVM blog{% endblock %}

{% block content %}
<section class="description">
    <div class="container">
        <h1>Blog / Actualité</h1>
        <p>Ici le texte d'introduction, pour dire que on affichera
            les notices avec sivm etc... 
        </p>

        <div class="cards-container-blog">

            <div class="card">
                <h3>Título de la noticia 1</h3>
                <p>Resumen o introducción de la noticia. Esto se puede ampliar más adelante.</p>
                <a href="#" class="btn">Leer más</a>
            </div>

            <div class="card">
                <h3>Título de la noticia 2</h3>
                <p>Resumen o introducción de la noticia. Esto se puede ampliar más adelante.</p>
                <a href="#" class="btn">Leer más</a>
            </div>

            <div class="card">
                <h3>Título de la noticia 3</h3>
                <p>Resumen o introducción de la noticia. Esto se puede ampliar más adelante.</p>
                <a href="#" class="btn">Leer más</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
