


{% extends "partials/base.html" %}

{% block title %}SIVM blog{% endblock %}

{% block content %}



<section class="description">
    <div class="container">

        <div class="flex-center">
            <h1>NOTRE ADMINISTRATION</h1>
        </div>

        <p>           
	        Le Président tient informé tout au long de son mandat les communes adhérentes par une lettre info au-delà des conseils syndicaux pendant lesquelles sont prises les décisions par délibération.
            
            Il peut aussi prendre des arrêtés dans le cadre de ses compétences.
            
            Le prochain Conseil syndical se tiendra à la salle de réunion du SIVM du Fenouillèdes le 
    </div>

    <div class="flex-center">
        <p>ICI UN INPUT =>  DATE: _______ </p>
    </div>

</section>



<section class="cards-section">
    <div class="container">

        <div class="flex-center">
            <h2>INFO:</h2>
        </div>

        <div class="cards-container">

            <div class="container">
                <div class="card">
                    <h3>Lettre Info</h3>
                    <p>ici le lien au lettres, ou le fichier a telecharger</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>Délibérations</h3>
                    <p>deliberations pdf</p>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <h3>Arrêtés</h3>
                    <p>ici</p>
                </div>
            </div>

            

        </div>
    </div>
</section>



<section class="actualite">
    <div class="container flex-column">

        <h2>Actualité</h2>

        <div class="cards-container-blog">

            <div class="card">
                <h3>Title notice</h3>
                <p>ici le text o une image</p>
                <a href="#" class="btn">Leer más</a>
            </div>

            <div class="card">
                <h3>Title notice</h3>
                <p>ici le text o une image</p>
                <a href="#" class="btn">Leer más</a>
            </div>

            <div class="card">
                <h3>Title notice</h3>
                <p>ici le text o une image</p>
                <a href="#" class="btn">Leer más</a>
            </div>

            

        </div>
    </div>
</section>
{% endblock %}
